@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var name = "Anar Samadzade";
    var studentid = "101391879";
    var coursecode = "COMP2139_Web Development";
}

<!DOCTYPE html>
<html>
<head>
    <title> Asp.Net Page </title>
</head>

<body>
    <h1> Welcome to My Web Development Intro Page </h1>
    <p> Name : @name </p>
    <p> Student ID: @studentid </p>
    <p> Course Code: @coursecode</p>
</body>
</html>
